html,body {
  height: 100%;
  width:100%;
  overflow: hidden;
  padding:0;
  margin:0;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

canvas {
  transition: outline .7s;
  outline: 2px solid transparent;
  outline-offset: 10px;
}

.main {
    height: 100%;
    width: 100%;
    display: table;
}

#canvas-container {
  text-align: center;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

#canvas-container > div {
    display: inline-block;
    display: -moz-inline-box;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    width: 33%;
    text-align: center;
}

.saved {
  transition: outline 1s;
  outline: 2px solid #d4c8c9;
}