<DOCTYPE! html5>
<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
    <title>View #3</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body class="preload">
    <div class="main">
      <div id="canvas-container">
        <div>
          <canvas id="view-1" width="100" height="100" onclick="toggleOutline(this)">
            Sorry, your browser does not support the canvas element.
          </canvas>
        </div>
        <div>
          <canvas id="view-2" width="100" height="100" onclick="toggleOutline(this)">
            Sorry, your browser does not support the canvas element.
          </canvas>
        </div>
        <div>
          <canvas id="view-3" width="100" height="100" onclick="toggleOutline(this)">
            Sorry, your browser does not support the canvas element.
          </canvas>
        </div>
      </div>
    </div>
    <script src="js/main.js"></script>
  </body>
</html>